.account-form{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.account-form-container{
    overflow: hidden;
    position: relative;
    /* box-shadow:0 0 20px 0px rgba(0, 0, 0, 0.1); */
    width: 320px;
    padding-top: 30px;
    padding-bottom: 35px;
    border-radius:5px;
    background-color: var(--white);
}
.account-form-container.d-flex-colum{
    gap: 25px;
}
.account-form-container span{
    display: inline-block;
    color: var(--dark);
    font-weight: 600;
    cursor: pointer;
    margin: 0 10px;
}
.form-top{
    display: inline-block;
    text-align: center;
}
/* .active_button{
    border-bottom:2px solid;
} */

.account-form-container form{
    padding: 0 20px;
}
form input{
    padding: 7px;
    width: 100% !important;
    border: 1px solid #ccc;
}

/* .wrapper{
    display: flex;
} */
/* .form_item{
    min-width: 100%
} */
/* .right_slide{
    transform: translateX(-100%);
    transition: all .3s;
}
.left_slide{
    transform: translateX(0%);
    transition: all .3s;
} */

#login-form,#register-form{
    width: 100%;
    transition: .6s;
}
#login-form{
    transform: translateX(-310px);
    position: absolute;
}
#register-form{
    transform: translateX(0px);
}

#indicator{
    width: 80px;
    background-color: #ff523b;
    height: 3px;
    margin-top: 1px;
    transform: translateX(153px);
    transition:all .5s linear;
}


@media (max-width:991px){
    .account-content-area.d-flex-between{
        flex-direction: column;
    }
    .account-form{
        width: 100%;
        margin: 0 auto;
    }
    .account-form-container{
        margin: 0 auto;
    }
}